<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="example" type="Examples.Configuration.ExampleSection, Examples.Configuration" />
  </configSections>

  <example
    stringValue="A sample string value."
    boolValue="true"
    timeSpanValue="5:00:00"
    unit="mm"
    >
    <nestedElement
      dateTimeValue="10/16/2006"
      integerValue="1" />

    <things>
      <add name="slimy" type="goo" />
      <add name="metal" type="metal" color="silver" />
      <add name="block" type="wood" color="tan" />
    </things>

    <things2>
      <thing name="slimy" type="goo" />
      <thing name="metal" type="metal" color="silver" />
      <thing name="block" type="wood" color="tan" />
    </things2>

  </example>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>